@model IEnumerable<Halhatatlanok.Models.Tag>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <p>
        Szűrők:
        <input type="text" name="ev" value="@ViewData["AktualisEv"]" placeholder="Év" />
        <input type="text" name="nev" value="@ViewData["AktualisNev"]" placeholder="Név" />
        <input type="submit" value="Keresés" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nev)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nev)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
